{% extends 'layout.html' %}
{% load static %}
{% block main %}
    <a class="btn btn-dark" href="{% url 'logout' %}">Выйти</a>
    <p>Здравствуйте, {{ user_fullname }}!</p>
    {% for song in song %}
        <h4>{{ song.artist }} - {{ song.title }}</h4>
        <audio controls>
            <source src="{% static song.path_to_file %}" type="audio/mp3">
        </audio>

        <h4>Нравится {{song.favorite_by.count}} людям:</h4>
        <p>{{ song.favorite_by.all|slice:5|unordered_list }}</p>
        {% if user in song.favorite_by.all %}
            <p>Вы уже добавили в свои фавориты эту песню!</p>
        {% else %}
            <form action="{% url 'add_to_favorites' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="song_id" value="{{ song.id }}">
                <button type="submit">Добавить в фавориты</button>
            </form>
        {% endif %}
    {% endfor%}
{% endblock %}